.details {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
}
.details .detail {
  width: 50%;
  margin-bottom: 12px;
}
.details .detail .name {
  font-size: 12px;
  opacity: .65;
  margin-bottom: 4px;
}
.details .detail .value {
  font-size: 16px;
}
