.main-switch {
  transition: margin .7s ease;
  box-sizing: border-box;
  position: relative;
}
@media only screen and (min-width: 450px) and (max-width: 899px) {
  .main-switch {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 900px) {
  .main-switch {
    margin-left: 200px;
  }
}
