.related-link {
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline-flex;
  width: 100%;
  flex-direction: row;
  align-content: center;
}
@media only screen and (min-width: 450px) {
  .related-link {
    width: calc(50% - 8px);
  }
}
@media only screen and (min-width: 600px) {
  .related-link {
    width: 100%;
  }
}
@media only screen and (min-width: 800px) {
  .related-link {
    width: calc(50% - 8px);
  }
}
.related-link .img-container {
  height: 80px;
  width: 80px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.related-link .img-container img {
  height: 100%;
  margin: 0 auto;
}
.related-link .text {
  padding-left: 12px;
  display: block;
  align-self: center;
}
.related-link .text a {
  width: 100%;
  text-overflow: ellipsis;
  display: block;
}
.related-link .text .title {
  font-weight: bold;
}
.related-link .text .category {
  opacity: .8;
}
