.related-link {
  margin-bottom: 8px;
  margin-right: 8px;
  display: inline-flex;
  width: 100%;
  @media only screen and (min-width: 450px) {
    width: calc(~'50% - 8px');
  }
  @media only screen and (min-width: 600px) {
    width: 100%;
  }
  @media only screen and (min-width: 800px) {
    width: calc(~'50% - 8px');
  }

  flex-direction: row;
  align-content: center;
  .img-container {
    height: 80px;
    width: 80px;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    img {
      height: 100%;
      margin: 0 auto;
    }
  }
  .text {
    padding-left: 12px;
    display: block;
    align-self: center;
    a {
      width: 100%;
      text-overflow: ellipsis;
      display: block;
    }
    .title {
      font-weight: bold;
    }
    .category {
      opacity: .8;
    }
  }
}