.swiper-slide {
  display: block;
  width: 100%;
  height: 100%;
}
.swiper-slide .img-sim,
.swiper-slide img {
  height: 100px;
  width: 100px;
  border-radius: 20px;
  background: pink;
}
.swiper-slide .img-sim {
  background: pink;
}
.swiper-slide .title {
  margin-top: 6px;
  font-size: 14px;
}
