<div class="more">
  <div class="header-container">
    <a href="/profile">
      <img src="/img/profile.jpg">
    </a>
    <a href="/profile">
      <h3>Josh Moxey</h3>
    </a>
    <!--<p></p>-->
  </div>
  <ul class="unstyled">
    <li><a href="/home">Home</a></li>
    <li class="dropdown closed">
      <a href="/home">Content</a>
      <ul class="unstyled">
        <li><a href="/home">The Josh Moxey Show</a></li>
        <li><a href="/home">Josh Moxey Radio</a></li>
        <li><a href="/home">Socials</a></li>
      </ul>
    </li>
    <li><a href="/home">Work</a></li>
    <li><a href="/home">Profile</a></li>
    <li><a href="/page/podcast">Josh Moxey Show</a></li>
    <li><a href="/page/radio">Josh Moxey Radio</a></li>
    <li><a href="/page/project">Project</a></li>
    <li><a href="/page/past">Work experience</a></li>
    <li><a href="/page/skill">Skill</a></li>
  </ul>
</div>