<div class="nav">
  <div class="top"></div>
  <div class="bottom">
    <a href="">
      <img src="/icons/test.png">
      <span>Home</span>
    </a>
    <a href="">
      <img src="/icons/test.png">
      <span>Content</span>
    </a>
    <a href="">
      <img src="/icons/test.png">
      <span>Projects</span>
    </a>
    <a href="">
      <img src="/icons/test.png">
      <span>About</span>
    </a>
    <a href="">
      <img src="/icons/test.png">
      <span>More</span>
    </a>
  </div>
</div>