<section class="preview">
  <h2>Preview</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{#each preview}}
        <div class="swiper-slide">
          <img src="{{}}">
        </div>
      {{/each}}
    </div>
  </div>
</section>