.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  > * {
    max-width: 1200px;
  }
  padding-bottom: 0;

  //sidebar open
  position: relative;
  transition: margin .7s ease-in-out, padding .5s ease-in-out;
  //transition durations are different between sidebar and body
  //@media only screen and (min-width: 900px) {
  //  margin-left: 200px;
  //  box-sizing: border-box;
  //}
}

.body-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-weight: 300;
}

.contents {
  width: 100%;
  padding: 16px 0px;
  flex-direction: row;
  .primary, .secondary, .main {
    width: 100%;
  }
  section {
    padding: 0 16px;
    margin-bottom: 16px;
    position: relative;
  }
  h2 {
    font-size: 22px;
    margin: 0 0 8px 0;
  }
  p {
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    padding: 5px 0;
  }
}

.single-column {
  .primary {
    width: calc(~'100% - 180px');
  }
  .secondary {
    width: 180px;
  }
}
.double-column {
  .primary {
    width: calc(~'100% - 360px');
  }
  .secondary {
    width: 360px;
  }
}

.contents {
  @media only screen and (min-width: 600px) {
    display: flex;
    .single-column;
  }
  @media only screen and (min-width: 1150px) {
    .double-column;
  }
}
