.featured-slide {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  width: calc(50% - 20px);
  border-radius: 10px;
  min-height: 200px;
  margin-bottom: 10px;
  overflow: hidden;
  user-select: none;
}
.featured-slide a {
  box-sizing: border-box;
  padding: 16px;
  min-height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.featured-slide .text {
  margin-top: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 80px rgba(0, 0, 0, 0.3);
}
.featured-slide .text .title {
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}
.featured-slide .text .title * {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}
.featured-slide .text .subtitle {
  margin-top: 2px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);
}
