.nav-slider {
  display: flex;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid #e2e2e2;
}
.nav-slider > div {
  width: 100%;
}
.nav-slider .link {
  display: flex;
  padding: 12px 17px 9px 17px;
  box-sizing: border-box;
  font-size: 12px;
  letter-spacing: .5px;
  text-transform: uppercase;
  width: auto;
  color: #828282;
  border: 0 solid #7d7d7d;
  transition-duration: 1s;
}
.nav-slider .link:first-child {
  margin-left: 16px;
}
