.home-tiles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 0 0 16px;
}
.home-tiles .tile {
  width: 100%;
  flex-shrink: 0;
  user-select: none;
  padding: 0 16px 16px 0;
  box-sizing: border-box;
}
@media only screen and (min-width: 600px) {
  .home-tiles .tile {
    width: 50%;
  }
}
@media only screen and (min-width: 1100px) {
  .home-tiles .tile {
    width: 33.3%;
  }
}
.home-tiles .tile a {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 16px;
  min-height: 200px;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
}
.home-tiles .tile .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 80px rgba(0, 0, 0, 0.3);
}
.home-tiles .tile .text * {
  color: #FFF;
}
.home-tiles .tile .text h1,
.home-tiles .tile .text h2,
.home-tiles .tile .text h3 {
  line-height: 110%;
  font-size: 28px;
  font-size: 30px;
}
.home-tiles .tile .text div {
  line-height: 150%;
  margin-top: 8px;
}
.pages {
  padding-left: 16px;
}
.pages .heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 8px;
}
.pages .heading h2 {
  margin-bottom: 0;
}
.pages .heading .test {
  color: royalblue;
  display: block;
  line-height: 145%;
}
.pages .page {
  display: inline-flex;
  width: 100%;
  box-sizing: border-box;
  padding-right: 16px;
  padding-bottom: 6px;
  flex-direction: row;
  align-content: center;
}
.pages .page .img-container {
  height: 80px;
  width: 80px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.pages .page .img-container img {
  height: 100%;
  margin: 0 auto;
}
.pages .page .text {
  padding-left: 12px;
  display: block;
  align-self: center;
}
.pages .page .text a {
  width: 100%;
  text-overflow: ellipsis;
  display: block;
}
.pages .page .text .title {
  font-weight: bold;
}
.pages .page .text .title * {
  font-weight: inherit;
}
.pages .page .text .category {
  margin-top: 2px;
  opacity: .8;
  font-size: 14px;
}
