.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  min-height: 100%;
  padding-bottom: 0;
  position: relative;
  transition: margin 0.7s ease-in-out, padding 0.5s ease-in-out;
}
.body > * {
  max-width: 1200px;
}
.body-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-weight: 300;
}
.contents {
  width: 100%;
  padding: 16px 0px;
  flex-direction: row;
}
.contents .primary,
.contents .secondary,
.contents .main {
  width: 100%;
}
.contents section {
  padding: 0 16px;
  margin-bottom: 16px;
  position: relative;
}
.contents h2 {
  font-size: 22px;
  margin: 0 0 8px 0;
}
.contents p {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;
  padding: 5px 0;
}
.single-column .primary {
  width: calc(100% - 180px);
}
.single-column .secondary {
  width: 180px;
}
.double-column .primary {
  width: calc(100% - 360px);
}
.double-column .secondary {
  width: 360px;
}
@media only screen and (min-width: 600px) {
  .contents {
    display: flex;
  }
  .contents .primary {
    width: calc(100% - 180px);
  }
  .contents .secondary {
    width: 180px;
  }
}
@media only screen and (min-width: 1150px) {
  .contents .primary {
    width: calc(100% - 360px);
  }
  .contents .secondary {
    width: 360px;
  }
}
.body {
  height: 100%;
  box-sizing: border-box;
  padding-top: 50px;
}
@media only screen and (min-width: 600px) {
  .body {
    padding-top: 0;
  }
}
.body .error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  padding: 16px;
  box-sizing: border-box;
}
.body .error * {
  text-align: center;
}
.body .error p {
  font-size: 16px;
}
