.details .name {
  font-size: 12px;
  opacity: .6;
  margin-bottom: 2px;
}
.details .value {
  font-weight: 500;
}
.details {
  display: flex;
  box-sizing: border-box;
  margin-top: auto;
  justify-self: space-between;
  padding: 0 0 16px 16px;
}
.details .detail {
  padding-left: 24px;
  width: auto;
}
.details .detail:first-child {
  padding-left: 0;
}
.details.stack {
  display: none;
}
@media only screen and (min-width: 600px) {
  .details.stack {
    padding: 0 0 0 32px;
    width: 180px;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  .details.stack .detail {
    padding-left: 0;
    padding-bottom: 8px;
  }
  .details.stack .detail:last-child {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .details.stack {
    width: 360px;
  }
  .details.stack .detail {
    width: 50%;
    box-sizing: border-box;
  }
  .details.stack .detail:nth-child(odd) {
    padding-right: 4px;
  }
  .details.stack .detail:nth-child(even) {
    padding-left: 4px;
  }
  .details.stack .detail:nth-last-child(2) {
    padding-bottom: 0;
  }
}
.details.swiper {
  padding-left: 0;
  user-select: none;
}
.details.swiper > div {
  margin: 0;
  width: 100%;
}
.details.swiper > div > div {
  width: 100%;
}
.details.swiper .detail:first-child {
  padding-left: 16px;
}
.details.swiper .detail:last-child {
  padding-right: 16px;
}
