footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  width: 100%;
  max-width: none !important;
  padding: 8px;
  box-sizing: border-box;
  background: #222;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
}
footer .footer ul {
  padding: 16px 24px;
}
footer .footer ul li {
  color: #b2b2b2;
  line-height: 170%;
  font-size: 14px;
}
footer .footer ul li:first-child {
  font-weight: bold;
}
footer .footer ul li a {
  color: inherit;
  font-size: inherit;
}
