footer {
  width: 100%;
  max-width: none !important;
  padding: 0px;
  background: #222;
  display: flex;
  justify-content: center;
  margin-top: auto;
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    ul {
      padding: 16px 24px;
      li {
        &:first-child {
          font-weight: bold;
        }
        color: #b2b2b2;
        line-height: 170%;
        a {
          color: inherit;
        }
      }
    }
  }
}
