<section class="intro swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide s1">
      <div>
        <h1>Josh Moxey</h1>
        <h2>Creates clickable, useful art</h2>
        <div class="bio-preview">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam commodi dignissimos dolore dolores
            earum
            eligendi et impedit labore magnam minima, mollitia nihil, nulla optio ratione repudiandae sequi, sunt
            voluptas.</p>
        </div>
        <div class="button-container">
          <a class="button"></a>
          <a class="button"></a>
        </div>
      </div>
    </div>
    <div class="swiper-slide s2">
      <div>
        <h2>Creates clickable, useful art</h2>
        <div class="bio-preview">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam commodi dignissimos dolore dolores
            earum
            eligendi et impedit labore magnam minima, mollitia nihil, nulla optio ratione repudiandae sequi, sunt
            voluptas.</p>
        </div>
      </div>
    </div>
    <div class="swiper-slide s3">
      <div>
        <h1>Josh Moxey Radio</h1>
        <h2>New Episode</h2>
        <p>Check out October's beautiful sounds</p>
        <div>[insert image here]</div>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <!--<div class="swiper-button-prev"></div>-->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-scrollbar"></div>-->
</section>


<h3>Category</h3>
<section class="test-1 swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide s1" ><div></div></div>
    <div class="swiper-slide s2" ><div></div></div>
    <div class="swiper-slide s3" ><div></div></div>
    <div class="swiper-slide s4" ><div></div></div>
    <div class="swiper-slide s5" ><div></div></div>
    <div class="swiper-slide s6" ><div></div></div>
    <div class="swiper-slide s7" ><div></div></div>
    <div class="swiper-slide s8" ><div></div></div>
    <div class="swiper-slide s9" ><div></div></div>
  </div>
</section>

<script src="/js/index.js"></script>
<script src="/js/libraries/swiper.min.js"></script>

<script type="text/javascript" src="js/libraries/jquery.localScroll.min.js"></script>
<script type="text/javascript" src="js/libraries/jquery.scrollTo.min.js"></script>