<div class="body-child">
  <div class="header">
    <div class="header-container">
      <span class="button">
        <a class="back back-button"></a>
      </span>
      <h5></h5>
      <span class="button">
        <div class="nav-icon nav-icon-1">
          <div class="nav-icon-container closed">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </span>
      <div class="backing"></div>
    </div>
    <div class="nav-icon nav-icon-2">
      <div class="nav-icon-container closed">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  {{>more}}

  <!--<section class="intro visible active" id="intro">-->
  <!--<a href="#podcast" class="test">TEST</a>-->
  <!--</section>-->
  <section class="intro visible active" id="intro">
    <!--<a href="#podcast" class="test">TEST</a>-->
    <div class="plain">
      <div class="container">
        <div class="heading">
          <span class="back">
            <a class="back-button"></a>
          </span>
          <h3>From the tender age of 3, Josh Moxey has been obsessed with creating.</h3>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          animi at atque, corporis debitis delectus dolore eius fuga harum hic ipsum magnam maiores minima nam quae
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consequatur deserunt dignissimos
          distinctio dolorum ducimus enim eos ipsa iure magnam minus modi, nisi quidem sunt totam velit vero
          voluptates?</p>
        <div class="cta-container">
          <a class="cta cta-3">Read my story</a>
        </div>
        <!--<button>Read more</button>-->
        <!--<div class="down-arrow">⇩</div>-->
      </div>
    </div>
    <div class="color">
      <div class="headings">
        <h1>Josh Moxey</h1>
        <h2>Creates useful, clickable art.</h2>
        <div class="cta-container">
          <a class="cta cta-2">Learn more</a>
        </div>
        <a href="#internalize" class="arrow-container">
          <div class="arrow"></div>
        </a>
      </div>
    </div>
  </section>
  <section class="internalize" id="internalize">
    <div class="plain">
      <div class="container">
        <h3>Internalize helps people become smarter</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          animi at atque, corporis debitis delectus dolore eius fuga harum hic ipsum magnam maiores minima nam quae
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque cupiditate ducimus ea eius, et ex
          fugiat fugit id illum iste iusto labore, laborum maxime molestiae natus necessitatibus obcaecati omnis
          pariatur
          quaerat qui quis quisquam quod reiciendis sunt suscipit tenetur vero vitae voluptates voluptatibus. Ab
          accusamus
          ex ipsum quo rerum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consequatur deserunt dignissimos
          distinctio dolorum ducimus enim eos ipsa iure magnam minus modi, nisi quidem sunt totam velit vero
          voluptates?</p>
        <div class="cta-container">
          <a class="cta cta-3" href="https://internalize.ca">Go to Internalize</a>
        </div>
      </div>
    </div>
    <div class="color">
      <div class="headings">
        <h2>Internalize</h2>
        <h3>CEO, Founder</h3>
        <div class="detail">October 2016 - Present</div>
        <div class="cta-container">
          <a class="cta cta-1" href="https://internalize.ca">Go to Internalize</a>
          <a class="cta cta-2">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="thoughts" id="thoughts">
    <div class="plain">
      <div class="container">
        <div class="heading">
          <span class="back">
            <a class="back-button"></a>
          </span>
          <h3>Thoughts helps people journal, simply</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          animi at atque, corporis debitis delectus dolore eius fuga harum hic ipsum magnam maiores minima nam quae
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque cupiditate ducimus ea eius, et ex
          fugiat fugit id illum iste iusto labore, laborum maxime molestiae natus necessitatibus obcaecati omnis
          pariatur
          quaerat qui quis quisquam quod reiciendis sunt suscipit tenetur vero vitae voluptates voluptatibus. Ab
          accusamus
          ex ipsum quo rerum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consequatur deserunt dignissimos
          distinctio dolorum ducimus enim eos ipsa iure magnam minus modi, nisi quidem sunt totam velit vero
          voluptates?</p>
        <div class="cta-container">
          <a class="cta cta-3" href="https://thoughts.internalize.ca">Go to Thoughts</a>
        </div>
      </div>
    </div>
    <div class="color">
      <div class="headings">
        <h2>Thoughts</h2>
        <h3>Founder</h3>
        <div class="detail">June 2017 - Present</div>
        <div class="cta-container">
          <a class="cta cta-1" href="https://thoughts.internalize.ca">Go to Thoughts</a>
          <a class="cta cta-2">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="contract" id="contract">
    <div class="plain">
      <div class="container">
        <div class="heading">
          <span class="back">
            <a class="back-button"></a>
          </span>
          <h3>Contract me if you can handle the badassery</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum
          eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          animi at atque, corporis debitis delectus dolore eius fuga harum hic ipsum magnam maiores minima nam quae
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum
          ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque cupiditate ducimus ea eius, et ex
          fugiat fugit id illum iste iusto labore, laborum maxime molestiae natus necessitatibus obcaecati omnis
          pariatur
          quaerat qui quis quisquam quod reiciendis sunt suscipit tenetur vero vitae voluptates voluptatibus. Ab
          accusamus
          ex ipsum quo rerum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum
          eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum
          ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum
          eligendi
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum
          ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consequatur deserunt dignissimos
          distinctio dolorum ducimus enim eos ipsa iure magnam minus modi, nisi quidem sunt totam velit vero
          voluptates?</p>
        <div class="cta-container">
          <a class="cta cta-3" href="/contact">Contact me</a>
        </div>
      </div>
    </div>
    <div class="color">
      <div class="headings">
        <h2>Contract work</h2>
        <h3>Web development, design, etc.</h3>
        <div class="detail">September 2017 - Present</div>
        <div class="cta-container">
          <a class="cta cta-1" href="/contact">Contact me</a>
          <a class="cta cta-2">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="podcast" id="podcast">
    <div class="plain">
      <div class="container">
        <div class="heading">
          <span class="back">
            <a class="back-button"></a>
          </span>
          <h3>Watch my journey on The Josh Moxey Show</h3>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          animi at atque, corporis debitis delectus dolore eius fuga harum hic ipsum magnam maiores minima nam quae
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque cupiditate ducimus ea eius, et ex
          fugiat fugit id illum iste iusto labore, laborum maxime molestiae natus necessitatibus obcaecati omnis
          pariatur
          quaerat qui quis quisquam quod reiciendis sunt suscipit tenetur vero vitae voluptates voluptatibus. Ab
          accusamus
          ex ipsum quo rerum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi
          ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa
          iure.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consequatur deserunt dignissimos
          distinctio dolorum ducimus enim eos ipsa iure magnam minus modi, nisi quidem sunt totam velit vero
          voluptates?</p>
        <div class="cta-container">
          <a class="cta cta-3" href="/show">Go to the show</a>
        </div>
      </div>
    </div>
    <div class="color">
      <div class="headings">
        <h2>The Josh Moxey Show</h2>
        <h3 class="detail">September 2017 - Present</h3>
        <div class="cta-container">
          <a class="cta cta-1" href="/show">Go to the show</a>
          <a class="cta cta-2">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section class="outro">
    <div class="plain">
      <div class="container">
        <!--<div class="heading">-->
          <!--<span class="back">-->
            <!--<a class="back-button"></a>-->
          <!--</span>-->
          <!--<h3>Watch my journey on The Josh Moxey Show</h3>-->
        <!--</div>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi-->
          <!--ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet-->
          <!--animi at atque, corporis debitis delectus dolore eius fuga harum hic ipsum magnam maiores minima nam quae-->
          <!--ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa-->
          <!--iure.</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque cupiditate ducimus ea eius, et ex-->
          <!--fugiat fugit id illum iste iusto labore, laborum maxime molestiae natus necessitatibus obcaecati omnis-->
          <!--pariatur-->
          <!--quaerat qui quis quisquam quod reiciendis sunt suscipit tenetur vero vitae voluptates voluptatibus. Ab-->
          <!--accusamus-->
          <!--ex ipsum quo rerum.</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi-->
          <!--ex hic inventore minima molestiae molestias obcaecati officia qui reiciendis rem similique ut. Adipisci amet-->
          <!--ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa-->
          <!--iure.</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, animi beatae dicta dolorum earum eligendi-->
          <!--ratione temporibus ut. Aspernatur at corporis dignissimos eligendi ex explicabo facilis harum hic, illum ipsa-->
          <!--iure.</p>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut consequatur deserunt dignissimos-->
          <!--distinctio dolorum ducimus enim eos ipsa iure magnam minus modi, nisi quidem sunt totam velit vero-->
          <!--voluptates?</p>-->
        <!--<div class="cta-container">-->
          <!--<a class="cta cta-3" href="/show">Go to the show</a>-->
        <!--</div>-->
        <div class="link-container">
          <div>
            <!--<a>joshmoxey.com</a>-->
            <!--<a href="">Privacy policy</a>-->
            <!--<a href="">Cookies</a>-->
            <!--<a href="">About</a>-->
            <!--<a href="">Contact</a>-->
          </div>
          <div>
            <a>Contact</a>
            <a href="">Instagram</a>
            <a href="">Twitter</a>
            <a href="">Snapchat</a>
            <a href="">Facebook</a>
            <a href="">YouTube</a>
            <a href="">Email</a>
          </div>
          <div>
            <a>Projects</a>
            <a href="">Internalize</a>
            <a href="">Thoughts</a>
            <a href="">Lists</a>
            <a href="">Podcast</a>
          </div>
          <div>
            <a>Other</a>
            <a href="">Github</a>
            <a href="">Soundcloud</a>
            <a href="">Apple Music</a>
          </div>
        </div>
      </div>
    </div>
    <div class="color">
      <div class="link-container">
        <a href="https://facebook.com/joshmoxey">
          <img src="/img/icons/facebook-full.png">
          <span>Facebook</span>
        </a>
        <a href="https://twitter.com/joshmoxey">
          <img src="/img/icons/twitter-full.png">
          <span>Twitter</span>
        </a>
        <a href="https://twitter.com/joshmoxey">
          <img src="/img/icons/snapchat-full.png">
          <span>Snapchat</span>
        </a>
        <a href="https://facebook.com/joshmoxey">
          <img src="/img/icons/instagram-full.png">
          <span>Instagram</span>
        </a>
        <a href="https://facebook.com/joshmoxey">
          <img src="/img/icons/music-full.png">
          <span>YouTube</span>
        </a>
        <a class="email">
          <img src="/img/icons/email-full.png">
          <span>Email</span>
        </a>
        <a href="https://github.com/joshmoxey">
          <img src="/img/icons/soundcloud-full.png">
          <span>Github</span>
        </a>
        <!--<a href="https://facebook.com/joshmoxey">-->
          <!--<img src="/img/facebook.png">-->
          <!--<span>Apple Music</span>-->
        <!--</a>-->
      </div>
    </div>
  </section>
</div>

<script src="/js/index.js"></script>
<!--<script src="/js/libraries/swiper.min.js"></script>-->

<script type="text/javascript" src="js/libraries/jquery.localScroll.min.js"></script>
<script type="text/javascript" src="js/libraries/jquery.scrollTo.min.js"></script>