<div class="body">
  {{>page-header}}
  <div class="contents">
    <section class="desc">
      <h2>Description</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi autem consequuntur delectus fugit magnam
        magni mollitia, nemo nesciunt, nulla omnis qui quidem quisquam sed sint tempore unde veniam voluptas?
      </p>
    </section>
    <section class="desc desc-collapse">
      <h2>Description</h2>
      <div class="text-container collapse">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi autem consequuntur delectus fugit magnam
          magni mollitia, nemo nesciunt, nulla omnis qui quidem quisquam sed sint tempore unde veniam voluptas?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi autem consequuntur delectus fugit magnam
          magni mollitia, nemo nesciunt, nulla omnis qui quidem quisquam sed sint tempore unde veniam voluptas?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, animi autem consequuntur delectus fugit magnam
          magni mollitia, nemo nesciunt, nulla omnis qui quidem quisquam sed sint tempore unde veniam voluptas?
        </p>
      </div>
      <a class="show">show</a>
    </section>
    <section class="video">
      <div class="sim"></div>
    </section>
  </div>
</div>