<div class="body">
  <div class="cover-photo"></div>
  <div class="profile-head">
    <div class="profile-picture">
      <img src="/img/profile.jpg">
      <div class="placeholder">
        <div class="spinner">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div></div>
        <div></div>
      </div>
    </div>
    <h1>Josh Moxey</h1>
    <p>Entrepreneur, web developer, designer. Student of greatness. Natural creative.</p>
  </div>
  <!--<section class="story">-->
    <!--<h2>My story</h2>-->
    <!--<p><span class="drop">F</span>rom the tender age of 3, Lorem ipsum dolor sit amet, consectetur adipisicing elit.-->
      <!--Asperiores dolor eos est iste molestiae nisi non numquam, officia quibusdam sapiente. Ea odit, omnis. Deserunt-->
      <!--distinctio illo maiores rem sint voluptate.-->
    <!--</p>-->
  <!--</section>-->
  <section>
    <h2>Work experience >></h2>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="img"></div>
          <span>Title here</span>
        </div>
        {{#each xyz}}
        <div class="swiper-slide">
          <img src="">
        </div>
        {{/each}}
      </div>
    </div>
  </section>
  {{#each section}}
    <h2>{{name}}</h2>
  {{/each}}
</div>