.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 200px;
  z-index: 50;
  box-sizing: border-box;
  transition: .7s;
  background: #151515;
  will-change: translateX;
  transform: translateX(-200px);
}
@media only screen and (min-width: 900px) {
  .sidebar {
    transform: none;
  }
}
.sidebar.open {
  transform: none;
}
.sidebar .header-1 {
  padding: 16px;
}
.sidebar .header-1 .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}
.sidebar .header-1 .img-container .img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #494949;
}
.sidebar .header-1 h2 {
  padding-top: 8px;
  font-size: 24px;
  text-align: center;
  color: #fafafa;
}
.sidebar .header-2 {
  display: inline-flex;
  display: none;
  padding-left: 16px;
  padding-bottom: 16px;
}
.sidebar .header-2 .img {
  border-radius: 50%;
  background: lightgrey;
  width: 30px;
  height: 30px;
}
.sidebar .header-2 h2 {
  font-size: 20px;
  line-height: 150%;
  margin-left: 8px;
}
.sidebar .container {
  padding: 0 0 0 16px;
}
.sidebar .container .detail {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8px 16px 8px 0;
  box-sizing: border-box;
  color: #b0b0b0;
  font-weight: 300;
}
.sidebar .container .detail * {
  color: inherit;
  font-weight: inherit;
  transition-duration: .3s;
}
.sidebar .container .detail .icon {
  height: 20px;
  width: 20px;
  padding-right: 10px;
  transition-duration: 0s;
}
.sidebar .container .detail .icon svg {
  height: 100%;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  transition-duration: 0s;
}
.sidebar .container .detail .title {
  font-size: 16px;
}
.sidebar .container .detail:hover {
  color: #e4e4e4;
  font-weight: 500;
}
