@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700,900);
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  width: 100%;
  height: 100%;
  color: #585858;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
h4 {
  font-size: 20px;
  font-weight: 700;
}
p {
  font-size: 18px;
  line-height: 145%;
}
div {
  font-size: 16px;
}
div[contenteditable="true"] {
  outline: none;
  cursor: text;
}
a {
  text-decoration: none;
  color: #585858;
}
li {
  line-height: 145%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
button,
.button {
  font-size: 12px;
  padding: 12px;
  border: none;
  cursor: pointer;
  display: inline-block;
}
::selection {
  color: #ffffff;
}
::-moz-selection {
  color: #ffffff;
}
::selection {
  background: #ff7677;
}
::-moz-selection {
  background: #FF7677;
}
button::-moz-focus-inner {
  border: 0;
}
.ul-unstyled {
  list-style: none;
}
.ul-unstyled li {
  margin: 0;
}
.caps {
  text-transform: uppercase;
  letter-spacing: .15em;
}
.text-small-1 {
  font-size: 11px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.full {
  width: 100%;
  height: 100%;
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.center-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.center-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.no-tap-color {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-callout {
  -webkit-touch-callout: none;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.body {
  height: 100%;
}
.cover-photo {
  height: 150px;
  background: #9a485c;
  background: linear-gradient(90deg, #ffe62a, #ff5e70);
  height: 125px;
}
.profile-head {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0 12px;
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: auto;
}
.profile-head .profile-picture {
  width: 100%;
  width: 170px;
  height: 170px;
  border: 10px solid #FFFFFF;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: relative;
  width: 125px;
  height: 125px;
}
.profile-head .profile-picture .placeholder,
.profile-head .profile-picture img {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.profile-head .profile-picture .placeholder {
  background-color: #d6d6d6;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.profile-head .profile-picture .placeholder .spinner {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  align-items: center;
  justify-content: center;
}
.profile-head .profile-picture .placeholder .spinner div {
  display: block;
  position: absolute;
}
.profile-head .profile-picture .placeholder .spinner div:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid #ffffff;
}
.profile-head .profile-picture .placeholder .spinner div:nth-child(1):before {
  top: -5px;
  left: -5px;
  animation: spin-360 1s linear infinite;
  border-top-color: transparent;
}
.profile-head .profile-picture .placeholder .spinner div:nth-child(2):before {
  top: 5px;
  left: 5px;
  width: 80px;
  height: 80px;
  animation: spin-360 1.5s linear infinite;
  border-right-color: transparent;
}
.profile-head .profile-picture .placeholder .spinner div:nth-child(3):before {
  top: 15px;
  left: 15px;
  width: 60px;
  height: 60px;
  animation: spin-360 3s linear infinite;
  border-bottom-color: transparent;
}
@keyframes spin-360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.profile-head .profile-picture img {
  opacity: 0;
}
.profile-head h1 {
  margin-top: 6px;
  font-weight: 700;
  font-size: 36px;
  font-size: 30px;
}
.profile-head p {
  margin-top: 3px;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}
section.story p {
  text-align: left;
}
section.story p .drop {
  font-size: 40px;
  float: left;
  margin-top: 7px;
  padding-right: 8px;
}
.body {
  padding-top: 55px;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.body section:last-child {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-bottom: 55px;
}
.nav .top {
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 10;
}
.nav .top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.nav .top .left .back {
  height: 32px;
  width: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #717171;
}
.nav .top a.icon {
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.nav .top a.icon img {
  height: 25px;
  width: auto;
  opacity: .3;
}
.nav .top a.icon span {
  margin-top: 3px;
  margin-bottom: -5px;
  font-size: 10px;
  font-weight: 300;
  text-transform: capitalize;
  opacity: .6;
}
.nav .bottom {
  border-top: 1px solid #eaeaea;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.nav .bottom a {
  flex: 1;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.nav .bottom a.active svg {
  color: #1c81c3;
  color: #717171;
}
.nav .bottom a.active span {
  color: #1C81C3;
  color: #595959;
}
.nav .bottom a .icon {
  height: 23px;
  width: 23px;
}
.nav .bottom a svg {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #a8a8a8;
}
.nav .bottom a img {
  height: 25px;
  width: auto;
  opacity: .3;
}
.nav .bottom a span {
  margin-top: 3px;
  margin-bottom: -3px;
  font-size: 10px;
  font-weight: 300;
  text-transform: capitalize;
  opacity: .8;
}
body {
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
body .more {
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
body .nav .bottom,
body .body {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
body.more-open {
  overflow: hidden;
}
body.more-open .more {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
body.more-open .nav .bottom,
body.more-open .body {
  -webkit-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  transform: translateX(-200px);
}
@media only screen and (min-width: 960px) {
  body.more-open {
    overflow: auto;
  }
  body.more-open .more {
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
  }
  body.more-open .nav .bottom,
  body.more-open .body {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@media only screen and (min-width: 960px) {
  body {
    width: calc(100% - 200px);
    float: left;
  }
  body .more {
    right: 200px;
  }
  body .nav .bottom {
    right: 200px;
  }
}
.more {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: #3f3f3f;
  width: 200px;
  overflow: auto;
  -webkit-transform: translateX(200px);
  -ms-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.15), 0px 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.15), 0px 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 10px 0px 10px -5px rgba(0, 0, 0, 0.15), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.more h3,
.more ul,
.more li,
.more p,
.more a {
  color: white;
}
.more .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  height: auto;
}
.more .header-container a:first-child {
  border-radius: 50%;
}
.more .header-container img {
  width: 100px;
  height: 100px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
}
.more .header-container h3 {
  margin-top: 10px;
}
.more ul {
  list-style: none;
  padding: 10px;
}
.more ul li {
  margin: 0;
}
.more ul li {
  padding: 3px;
}
