.hero-banner {
  width: 100%;
}
.hero-banner > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-banner.has-banner {
  height: 200px;
}
.hero-banner.no-banner {
  margin-top: 66px;
  height: 0;
}
.hero-banner .height {
  height: 200px;
}
