.hero-banner {
  width: 100%;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.has-banner {
    height: 200px;
  }
  &.no-banner {
    margin-top: 66px;
    //add break here
    height: 0;
  }
  .height {
    height: 200px;
  }
}

