.hero-banner {
  width: 100%;
  max-width: none !important;
}
.hero-banner > div > div {
  height: 100%;
  width: 100%;
}
.hero-banner.no-banner {
  margin-top: 50px;
  height: 0;
}
@media only screen and (min-width: 450px) {
  .hero-banner.no-banner {
    margin-top: 0;
  }
}
.hero-banner .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hero-banner .banner {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: no-repeat center;
  background-size: cover;
}
.hero-banner .sizing {
  width: 100%;
}
