.hero-buttons {
  width: 100%;
}
.button-container {
  display: flex;
  user-select: none;
  padding-top: 7px;
  margin-top: auto;
}
@media only screen and (min-width: 600px) {
  .button-container {
    display: none;
  }
}
.button-container button,
.button-container a {
  font-size: 12px;
  border-radius: 50px;
  padding: 6.5px 10px;
  font-weight: 500;
  margin-right: 5px;
  transition-duration: .3s;
  background-color: #577ae0;
  color: #FFF;
  border: 0;
}
.button-container button:hover,
.button-container a:hover {
  opacity: .8;
}
.button-container button:active,
.button-container a:active {
  opacity: .65;
}
.button-container button:last-child,
.button-container a:last-child {
  margin-right: 0;
}
.button-container .more {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6px;
}
.button-container .more svg {
  color: inherit;
  width: 15px;
  margin-top: auto;
  margin-bottom: auto;
  pointer-events: none;
}
.button-container .share {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6px;
}
@media only screen and (min-width: 400px) {
  .button-container .share {
    margin-left: 0;
  }
}
.button-container .share svg {
  color: inherit;
  width: 15px;
  margin-top: auto;
  margin-bottom: auto;
  pointer-events: none;
}
.button-container.white button,
.button-container.white a {
  color: inherit;
  background-color: #FFF;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 32px rgba(0, 0, 0, 0.08);
}
