@import "../../../style/partials/global-old";

//.body {
//  padding-top: 55px;
//  height: 100%;
//  .border-box;
//  section:last-child {
//    .border-box;
//    padding-bottom: 55px;
//  }
//}

.nav {
  .top {
    transition-duration: .5s;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    background-color: rgba(255, 255, 255, .97);
    z-index: 10;
    .left {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      .back {
        height: 32px;
        width: 40px;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        color: #717171;
      }
      .title {
        color: black;
      }
    }
    a.icon {
      height: 100%;
      //.flex;
      flex: 1;
      .center;
      img {
        height: 25px;
        width: auto;
        opacity: .3;
      }
      span {
        margin-top: 3px;
        margin-bottom: -5px;
        font-size: 10px;
        font-weight: 300;
        text-transform: capitalize;
        opacity: .6;
      }
    }
    .right {
      display: flex;
      flex-direction: row;
      height: 100%;
      a {
        display: none;
        height: 100%;
        box-sizing: border-box;
        padding: 6px;
        &:last-child {
          padding-right: 8px;
        }
      }
    }
  }
  .bottom {
    transition-duration: .5s;
    border-top: 1px solid #eaeaea;
    position: fixed;
    display: flex;
    flex-direction: row;
    //justify-content: center;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .95);
    z-index: 10;
  }
  .top, .bottom {
    a {
      width: 50px;
      flex: 1;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #a5a5a5;
      transition-duration: .15s;
      &:hover {
        color: #696969;
      }
      .icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 23px;
        width: 23px;
        color: inherit;
      }
      svg {
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
        color: #a8a8a8;
        color: inherit;
        path {
          color: inherit;
        }
      }
      img {
        height: 25px;
        width: auto;
        opacity: .3;
      }
      span {
        margin-top: 3px;
        margin-bottom: -3px;
        font-size: 10px;
        font-weight: 300;
        text-transform: capitalize;
        color: inherit;
      }
    }
  }
}

.nav {
  .top {
    @media only screen and (min-width: 600px) {
      .right a {
        display: flex;
      }
    }
    .right a:last-child {
      display: flex !important;
    }
    @media only screen and (min-width: 900px) {
      transform: translateY(-52px);
    }
  }
  .bottom {
    @media only screen and (min-width: 600px) {
      transform: translateY(50px);
    }
  }
}