@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700,900);
.caps {
  text-transform: uppercase;
  letter-spacing: .15em;
}
.text-small-1 {
  font-size: 11px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.full {
  width: 100%;
  height: 100%;
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.center-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.center-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.no-tap-color {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-callout {
  -webkit-touch-callout: none;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.nav .top {
  transition-duration: .5s;
  border-bottom: 1px solid #eaeaea;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 10;
}
.nav .top .left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}
.nav .top .left .back {
  height: 32px;
  width: 40px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #717171;
}
.nav .top .left .title {
  font-size: 14px;
  font-weight: 400;
  padding-left: 16px;
  color: #9a9a9a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav .top a.icon {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav .top a.icon img {
  height: 25px;
  width: auto;
  opacity: .3;
}
.nav .top a.icon span {
  margin-top: 3px;
  margin-bottom: -5px;
  font-size: 10px;
  font-weight: 300;
  text-transform: capitalize;
  opacity: .6;
}
.nav .top .right {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.nav .top .right a {
  display: none;
  height: 100%;
  box-sizing: border-box;
  padding: 6px;
}
.nav .top .right a:last-child {
  padding-right: 8px;
}
.nav .top .right a:last-child svg {
  height: 22px;
  width: 22px;
}
.nav .bottom {
  transition-duration: .5s;
  border-top: 1px solid #eaeaea;
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
}
.nav .top a,
.nav .bottom a,
.nav .side a {
  width: 50px;
  height: 50px;
  flex: 1;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #a5a5a5;
  transition-duration: .15s;
}
.nav .top a:hover,
.nav .bottom a:hover,
.nav .side a:hover {
  color: #696969;
}
.nav .top a .icon,
.nav .bottom a .icon,
.nav .side a .icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  color: inherit;
}
.nav .top a svg,
.nav .bottom a svg,
.nav .side a svg {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: inherit;
}
.nav .top a svg path,
.nav .bottom a svg path,
.nav .side a svg path {
  color: inherit;
}
.nav .top a img,
.nav .bottom a img,
.nav .side a img {
  height: 25px;
  width: auto;
  opacity: .3;
}
.nav .top a span,
.nav .bottom a span,
.nav .side a span {
  margin-top: 3px;
  margin-bottom: -3px;
  font-size: 10px;
  font-weight: 300;
  text-transform: capitalize;
  color: inherit;
}
.nav .side {
  position: fixed;
  width: 50px;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  transition: .7s;
  background: #151515;
  will-change: translateX;
  transform: translateX(51px);
  z-index: 11;
}
.nav .side .more {
  position: absolute;
  background: linear-gradient(rgba(21, 21, 21, 0.85) 35px, transparent);
  z-index: 1;
}
.nav .side .scroll {
  overflow-y: auto;
  height: 100%;
  position: absolute;
}
.nav .side .scroll a:first-child {
  margin-top: 42px;
}
.nav .side a {
  color: #b0b0b0;
  height: 50px;
  margin-bottom: 2px;
}
.nav .side a:first-child svg {
  height: 22px;
  width: 22px;
}
.nav .side a span {
  width: 100%;
  padding: 0 4px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (min-width: 600px) {
  .nav .top .right a {
    display: flex;
  }
}
.nav .top .right a:last-child {
  display: flex !important;
}
@media only screen and (min-width: 450px) {
  .nav .top {
    transform: translateY(-52px);
  }
}
.nav .bottom {
  display: none;
}
@media only screen and (min-width: 600px) {
  .nav .bottom {
    transform: translateY(51px);
  }
}
@media only screen and (min-width: 450px) and (max-width: 899px) {
  .nav .side {
    transform: translateX(0);
  }
}
