.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding-bottom: 50px;
  position: relative;
  transition: margin 0.7s ease-in-out, padding 0.5s ease-in-out;
}
.body > * {
  max-width: 1200px;
}
@media only screen and (min-width: 600px) {
  .body {
    padding-bottom: 0;
  }
}
.body-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-weight: 300;
}
.contents {
  width: 100%;
  padding: 16px 0px;
  flex-direction: row;
}
.contents .primary,
.contents .secondary,
.contents .main {
  width: 100%;
}
.contents section {
  padding: 0 16px;
  margin-bottom: 16px;
  position: relative;
}
.contents h2 {
  font-size: 22px;
  margin: 0 0 8px 0;
}
.contents p {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 300;
  padding: 5px 0;
}
.single-column .primary {
  width: calc(100% - 180px);
}
.single-column .secondary {
  width: 180px;
}
.double-column .primary {
  width: calc(100% - 360px);
}
.double-column .secondary {
  width: 360px;
}
@media only screen and (min-width: 600px) {
  .contents {
    display: flex;
  }
  .contents .primary {
    width: calc(100% - 180px);
  }
  .contents .secondary {
    width: 180px;
  }
}
@media only screen and (min-width: 1150px) {
  .contents .primary {
    width: calc(100% - 360px);
  }
  .contents .secondary {
    width: 360px;
  }
}
.header {
  margin-top: -100px;
  z-index: 5;
}
.header .img {
  width: 150px;
  height: 150px;
  display: flex;
  overflow: hidden;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  border: 5px solid #FFF;
  margin: 0 auto;
  flex-shrink: 0;
}
.header .img img {
  height: 100%;
}
.header .text {
  width: 100%;
}
.header .text h1 {
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 900;
  margin-top: 8px;
  margin-bottom: 12px;
  font-size: 40px;
}
@media only screen and (min-width: 500px) {
  .header {
    display: flex;
    width: 100%;
    margin-top: -95px;
  }
  .header .img {
    margin: 0 0 0 16px;
  }
  .header .text {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .header .text h1 {
    text-align: left;
    font-size: 36px;
    color: #FFF;
    margin: auto 0 18px 16px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 80px rgba(0, 0, 0, 0.3);
  }
}
