.container span {
  line-height: 1.6em;
  margin-bottom: 2px;
  color: #577ae0;
  cursor: pointer;
  transition: .5s;
  opacity: 1;
  pointer-events: auto;
}
.container span.open.fixed {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-left: 50px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), white 50px);
}
.container span.open.close {
  transition: .2s;
  display: none;
}
.container span.close {
  display: none;
}
.container {
  position: relative;
}
.container.fixed span.inline {
  display: none;
}
.container.inline span.fixed {
  display: none;
}
.container.expanded .inline,
.container.expanded .fixed {
  pointer-events: none;
  opacity: 0;
  display: none;
}
.text-clamp h2 {
  margin-bottom: 3px !important;
}
