.container span {
  line-height: 145%;
  display: inline-block;
  margin-bottom: 3px;
  color: royalblue;
  cursor: pointer;
  transition: .5s;
  opacity: 1;
  pointer-events: auto;
  &.open.fixed {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-left: 50px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), white 50px);
  }
  &.open.close {
    transition: .2s;
    display: none;
  }
}

.container {
  position: relative;
  &.fixed span.inline {
    //visibility: hidden;
    display: none;
  }
  &.inline span.fixed {
    display: none;
  }
  &.expanded {
    .inline, .fixed {
      pointer-events: none;
      opacity: 0;
      display: none;
    }
  }
}

p {
  padding-top: 0;
}

//.fade {
//  position: absolute;
//  left: 0;
//  bottom: 0;
//  right: 0;
//  top: 0;
//  display: block;
//  background: linear-gradient(0deg, rgb(255, 255, 255, 1), rgba(255, 255, 255, 0) 7px);
//  pointer-events: none;
//  transition: .5s;
//}
