@import url(https://fonts.googleapis.com/css?family=Roboto:300,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:300,500,700,900);
* {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  width: 100%;
  height: 100%;
  color: #585858;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 30px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 700;
}
h4 {
  font-size: 20px;
  font-weight: 700;
}
p {
  font-size: 18px;
  line-height: 145%;
}
div {
  font-size: 16px;
}
div[contenteditable="true"] {
  outline: none;
  cursor: text;
}
a {
  text-decoration: none;
  color: #585858;
}
li {
  line-height: 145%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
button,
.button {
  font-size: 12px;
  padding: 12px;
  border: none;
  cursor: pointer;
  display: inline-block;
}
::selection {
  color: #ffffff;
}
::-moz-selection {
  color: #ffffff;
}
::selection {
  background: #ff7677;
}
::-moz-selection {
  background: #FF7677;
}
button::-moz-focus-inner {
  border: 0;
}
.ul-unstyled {
  list-style: none;
}
.ul-unstyled li {
  margin: 0;
}
.caps {
  text-transform: uppercase;
  letter-spacing: .15em;
}
.text-small-1 {
  font-size: 11px;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.full {
  width: 100%;
  height: 100%;
}
.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.center-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.center-vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: row;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.center-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}
.no-tap-color {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.no-callout {
  -webkit-touch-callout: none;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section.intro {
  height: auto;
  text-align: center;
}
section.intro .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: auto;
  min-height: 50%;
  padding: 16px 8px;
  color: white;
  width: 90%;
}
section.intro .swiper-wrapper .swiper-slide.s1 .bio-preview p {
  text-align: justify;
  font-weight: 300;
}
section.intro .swiper-wrapper .swiper-slide > div {
  border-radius: 6px;
  padding: 16px;
  background-color: #e06592;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
section.intro .swiper-pagination-bullet {
  background: #ffffff;
  opacity: .33;
}
section.intro .swiper-pagination-bullet-active {
  background: #ffffff;
  opacity: 1;
}
section.test-1 .swiper-slide {
  width: 100px;
  height: 100px;
  padding: 8px;
}
section.test-1 .swiper-slide > div {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 6px;
}
section.test-1 .swiper-slide.s1 div {
  background-color: #cccccc;
}
section.test-1 .swiper-slide.s2 div {
  background-color: #cca195;
}
section.test-1 .swiper-slide.s3 div {
  background-color: #c7cc60;
}
section.test-1 .swiper-slide.s4 div {
  background-color: #cc464f;
}
section.test-1 .swiper-slide.s5 div {
  background-color: #7463cc;
}
section.test-1 .swiper-slide.s6 div {
  background-color: #4db2cc;
}
section.test-1 .swiper-slide.s7 div {
  background-color: #b9cc6f;
}
section.test-1 .swiper-slide.s8 div {
  background-color: #7b7b7b;
}
section.test-1 .swiper-slide.s9 div {
  background-color: #cc6aa5;
}
